In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('buildings.csv')

In [3]:
df

      x   y
0     2   2
1     2   3
2     2   4
3     2   7
4     2   8
..   ..  ..
420  30  23
421  30  24
422  30  27
423  30  28
424  30  29

[425 rows x 2 columns]

In [ ]:
df.to_json

In [9]:
df.to_json(r'C:\Users\oakno\Desktop\DTD\json\building.json')

In [4]:
df.to_csv(r'C:\Users\oakno\Desktop\building2.csv', index=False)